<!doctype html>
<title>CuriosityWorks</title>
{% include "head.html" %}
<body>
    <div class="container">
        {% include "navbar.html" %}

        <section class="hero">
            <div class="hero-body">
              <p class="title">
                Coder Profile
              </p>
              <p class="subtitle">
                review your configuration
              </p>
            </div>
        </section>

        <ul>
            <li><strong>name:</strong> {{ profile.username}}</li>
            <li><strong>ide:</strong> {{ profile.ide }}</li>
            <li><strong>email:</strong> {{ profile.email }}</li>
            <li><strong>snippets:</strong>
                {% for snippet in profile.snippets %}
                <pre>{{ snippet.body }}</pre>
                {% endfor %}        
            </li>
        </ul>
    {% include "footer.html" %}
    </div>
</body>
</html>